@import './../styles/components/responsive';

.section {
  height: inherit;
}

.hero {
  position: relative;
  padding: 4rem 0;
  isolation: isolate;

  &:before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(225.71deg, #f0f3fa 0%, rgba(255, 255, 255, 0) 37.9%, rgba(255, 255, 255, 0) 62.65%, #f0f3fa 100%);
    border-radius: var(--global-border-radius);
    z-index: -1;
  }

  h1 {
    font-size: 2rem;
    text-wrap: balance;
    font-family: 'Libre Franklin';
    @include small-down() {
      font-size: 7vw;
    }
  }

  p {
    max-width: 400px;
    text-wrap: balance;
    line-height: 1.8rem;
    text-align: center;
    font-weight: 300;
    @include small-down() {
      font-size: 2.5vw;
    }
  }

  button {
    --tile-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.14), inset 0 0 0px 2px transparent;
    --tile-shadow-hover: 0 0 2px rgba(0, 0, 0, 0.12), 0 8px 16px rgba(0, 0, 0, 0.14);
    color: var(--white);
    height: 37px;
    background: var(--black);

background: linear-gradient(73.41deg, #4285F4 10.84%, #9B72CB 53.34%, #D96570 89.3%);

    border-radius: 999px;
    margin: auto 0;

    @include small-down() {
    }

    &:hover {
      box-shadow: var(--tile-shadow-hover);
    }

    &:active {
      transform: scale(0.94);
    }
  }
}

.ecosystem {
  margin: 2rem;

  &__container {
    min-height: 400px;
    height: 100%;
    padding: 8rem;
    background-color: #F0F3FA;
    border-radius: var(--global-border-radius);

    p {
      font-size: calc(1.5rem + 0.5vw);
      text-wrap: balance;
    }

    figure {
      img {
        width: 100%;
      }
    }
  }
}