@import './../styles/components/responsive';

.section {
  height: inherit;
}

.hero {
  position: relative;
  padding: 8rem 0;
  isolation: isolate;

figure {
  width: 100%;
  img {
    width: inherit;
  }
}

  h1 {
    font-size:  calc(3rem + 0.4vw);
    text-wrap: balance;
    font-family: 'Libre Franklin';
    font-weight: 900;
    @include small-down() {
      font-size: 7vw;
    }
  }

  p {
    max-width: 450px;
    text-wrap: balance;
    line-height: 1.8rem;
    font-weight: 300;
    font-size: calc(1rem + 0.2vw);

    @include small-down() {
      font-size: 2.5vw;
    }
  }

  button {
    --tile-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.14), inset 0 0 0px 2px transparent;
    --tile-shadow-hover: 0 0 2px rgba(0, 0, 0, 0.12), 0 8px 16px rgba(0, 0, 0, 0.14);
    color: var(--white);
    height: 37px;
    background: var(--black);
    border-radius: 999px;
    margin: auto 0;

    @include small-down() {
    }

    &:hover {
      box-shadow: var(--tile-shadow-hover);
    }

    &:active {
      transform: scale(0.94);
    }
  }
}

.ecosystem {
  margin: 2rem;

  &__container {
    min-height: 400px;
    height: 100%;
    padding: 8rem;
    background: linear-gradient(225.71deg, #f0f3fa 0%, rgba(255, 255, 255, 0) 37.9%, rgba(255, 255, 255, 0) 62.65%, #f0f3fa 100%);
    border-radius: var(--global-border-radius);

    p {
      font-family: 'Libre Franklin';
      font-size: calc(1.5rem + 0.5vw);
      text-wrap: balance;
    }

    figure {
      img {
        width: 100%;
      }
    }
  }
}
