.page {
  height: inherit;
  background-color: #fbfbfd;
  isolation: isolate;

  &__container {
  }

  &__icon {
    width: 66px;
    height: 66px;
    border-radius: 26px;
    margin-bottom: 1rem;
    border: 1px solid var(--black-100);
    border-radius: 26px;

    span {
      color: #222;
      font-size: 34px;
    }
  }

  h1 {
    color: #171717;
    font-weight: bolder;
  }

  p {
    color: #99999b;
    font-size: calc(1.25rem + 0vw);
    font-weight: 400;
    max-width: 500px;
    text-wrap: balance;
    line-height: 1.7rem;
    text-align: center;
  }

  a {
    background: var(--color-black);
    color: var(--white);
    font-size: calc(13px + 0.45vw);
    font-size: 0.875em;
    padding: 8px 16px;
    border-radius: 999px;
    margin-top: 2rem;
  }
}
